.cache/
.gitignore
.share/
Kvantum/
Thunar/
bash/bash_history
binwalk/
clipit/
cni/
dconf/
dir_colors
discord/
dmenu-recent/
dunst/
epdfview/
evolution/
falkon/
fontconfig/
gconf/
gh/
gnome-initial-setup-done
gtk-3.0/
hexchat/
htop/
i3/
ibus/
libfm/
libreoffice/
mimeapps.list
monitors.xml
monitors.xml~
morc_menu/
mozilla/
nautilus/
nitrogen/
pamac/
pavucontrol.ini
pcmanfm/
picom.conf
pulse/
qt5ct/
ranger/
run-welcome-tour
spotify/
!tmux/plugins/tpm/
tmux/plugins/
user-dirs.dirs
user-dirs.locale
volumeicon/
xfce4/
yelp/
zsh/.zcompdump*
zsh/.zsh_sessions/
zsh/local_paths
zsh/zhistory
