.cache/
.gitignore
.share/
Kvantum/
Thunar/
bash/bash_history
binwalk/
clipit/
dconf/
dir_colors
discord/
dmenu-recent/
dunst/
epdfview/
falkon/
fontconfig/
gconf/
gh/
gtk-3.0/
hexchat/
htop/
i3/
libfm/
mimeapps.list
morc_menu/
mozilla/
nitrogen/
pamac/
pavucontrol.ini
pcmanfm/
picom.conf
pulse/
qt5ct/
ranger/
user-dirs.dirs
user-dirs.locale
volumeicon/
xfce4/
zsh/.zcompdump
zsh/zhistory
