[submodule "oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = ../../ohmyzsh/ohmyzsh.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = ../../zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = ../../zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = ../../zsh-users/zsh-history-substring-search.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = ../../tmux-plugins/tpm
[submodule "zsh/themes/spaceship-prompt"]
	path = zsh/themes/spaceship-prompt
	url = ../../spaceship-prompt/spaceship-prompt.git
